<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Books of the Year</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/booksoftheyear.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/table.js"></script>
</head>

<body>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <div class="text-center mt-5">
                <h1>Welcome to Books of the Year</h1>
                <p class="lead">Select your book from the menu below</p>
            </div>
            <div id="results" class="col-lg-8 mb-5 order-2"></div>
                <div id="menu" class="col-lg-4 mb-5 order-1">
                    <form enctype="application/json" action="/post/json" method="post">
                        <div class="form-group">
                            <select class="form-control" name="sec_n">
                                <option value="0">Biography</option>
                                <option value="1">Children</option>
                                <option value="2">Cooking</option>
                                <option value="3">Romance</option>
                                <option value="4">Thriller</option>
                            </select>
                            <input class="form-control mt-3" type="text" name="book" placeholder="Book">
                            <input class="form-control mt-3" type="text" name="author" placeholder="Author">
                            <div class="d-grid gap-2"><button type="submit" class="btn btn-primary btn-block mt-3">Submit</button></div>
                        </div>
                    </form>
                    <div class="d-grid gap-2">
                    <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button></div>
                    <p class="text-muted text-center">To delete an entree, click the required row first</p>
                </div>
            </div>
        </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>